span.close-alert{
  width: 20px;
  height: 20px;
  border: 1px solid transparent;
  border-radius: 50%;
  transition: .4s ease all;
  &:hover{
    border: 1px solid #fff;
    cursor:pointer;
  }
}
.alert{
  border-radius: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  margin-bottom: 0;
  border: 0 solid transparent;
  font-family: $font;
  font-weight: $font-medium;
  color: #fff;
}
.alert-danger{
  background-color: $alert-danger;
}
.alert-success{
  background-color: $alert-success;
}
.alert-warning{
  background-color: $alert-warning;
}
.alert-info{
  background-color: $alert-info;
}
