.label{
  @media (max-width:$screen-sm-min){
    width:100%;
    display:block;
  }
  &+.label{
    @media (max-width:$screen-sm-min){
      margin-top:8px;
    }
  }
}
.label-danger{
  background-color: $label-danger-bg;
}
.label-warning{
  background-color: $label-warning-bg;
}
.label-info{
  background-color: $label-info-bg;
}
.label-success{
  background-color: $label-success-bg;
}
