.label-danger{
  background-color: $label-danger-bg;
}
.label-warning{
  background-color: $label-warning-bg;
}
.label-info{
  background-color: $label-info-bg;
}
.label-success{
  background-color: $label-success-bg;
}
