ul.task-container{
  box-shadow: 0 2px 2px 2px rgba(0,0,0,.1);
  border-radius: 4px;
}
.list-group-item{
  padding-left: 20px;
  padding-right: 20px;
}
.list-group-item:not(.task){

}
.list-group-item.task{
  transition: .2s ease all;
  font-size: 18px;
  font-family: $font;
  color: $brand-secondary;
  font-weight: $font-regular;
  .btn{
    transition: .2s ease all;
    opacity: 0;
  }
}
.list-group-item.task:hover{
  background-color: darken(#fff,3%);
  .btn{
    opacity: 1;
  }
}
.list-group-item.task-completed{
  background-color: darken(#fff,4%);
  color: $brand-secondary-light;
}
