$font: 'Roboto', 'Helvetica Neue', 'Helvetica', sans-serif;
$font-light: 100;
$font-regular: 300;
$font-medium: 400;
$font-semibold: 500;
$font-bold: 700;

$brand-primary: #455EFE;
$brand-primary-dark: #3849AC;
$brand-secondary: #76838D;
$brand-secondary-light: #A2ABB2;

$alert-success: #30B399;
$alert-warning: #EBC142;
$alert-info: #03A9F4;
$alert-danger: #F03E6F;

$label-success-bg: $alert-success;
$label-warning-bg: $alert-warning;
$label-info-bg: $alert-info;
$label-danger-bg: $alert-danger;
